/*  */
/* :root {
    --text-color: #15009e;                  |
    --primary-color: #010108;               |
    --secondary-color: #1f212d;             |
    --white: #fff;                          |       colors used
    --other-color1: #992255;                |       will replace as variables later
    --other-color2: #d5cbc6;                |
    --other-color3: #54fb91;                |
    --other-color4: #d5dcdc;                |

} */

/* remove default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #1f212d;
    color: #fff;
}

/* header start */
header {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    background-color: #d5dcdc;
    justify-content: space-between;
}

header h1 {
    padding: 4px;
    background-color: #185592;
    color: #d5dcdc;
    border: 5px solid #050077;
}

header a {
    text-decoration: none;
    color: #992255;
}


header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 28px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background:  #1f212d;
    color: #54fb91;
    border-radius: 15px;
    text-shadow: none;
}

/* hero start */
.hero {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    padding-bottom: 40px;
}


.hero .quote {
    display: flex;
    justify-content: end;
    text-align: right;
    font-size: 48px;
    
}    

#quote-text {
    text-align: center;
}

#author {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    text-decoration: underline;
    font-size: 35px;
    margin-top: 15px;
}
/* hero end */

/* title style class  */
.title {
    border-right: 6px solid black;
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}
.title h2 {
    font-size: 42px;
}

/* about me styling */
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 0;
    background: -moz-linear-gradient(top, #2F454F 0%, #0D1316 100%);
    background: -webkit-linear-gradient(top, #2F454F 0%, #0D1316 100%);
    background: linear-gradient(to bottom, #2F454F 0%, #0D1316 100%);
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.3;
    width: 90%;
}

/* my work styling */
.my-work {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 30px 0;
    background: -moz-linear-gradient(top, #0E0D16 0%, #342F4F 100%);
    background: -webkit-linear-gradient(top, #0E0D16 0%, #342F4F 100%);
    background: linear-gradient(to bottom, #0E0D16 0%, #342F4F 100%);
}
.my-work h2 {
    padding-top: 360px;
}

.grid-position {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 750px;
}

.grid {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.project {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid #81917e;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    margin: 5px;
}

.project:hover {
    opacity: 1.0;
}

.run-buddy {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../images/runbuddy.jpg");
    background-position: 25% 95%;
}

.horiseon {
    background-image: url("../images/horiseon(1).png");
    background-position: 50% 5%;
}

.robot-gladiators {
    background-image: url("../images/roboglad.jpg");
}

.project4 {
    background-image: url("../images/GameBase.PNG");
}

.project5 {
    background-image: url("../images/placeholder5.jpg");
}

.label {
    background-color: #7b7e7e;
    color: #791f46;
    padding: 7px;
}

/* contact info section */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.list {
    width: 60%;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bolder;
    list-style: none;
}

footer ul li {
    font-weight: bold;
}

footer ul li a {
    text-decoration: none;
    color: #54fb91;
    padding: 8px;
    font-weight: bold;
}

footer ul li a:hover {
    background-color: #d5dcdc;
    color: #992255;
    border-radius: 15px;
}

footer ul li p {
    color: #54fb91;
    font-weight: normal;
}

/* media query start */
@media screen and (max-width: 768px) {
    .hero .quote {
        font-size: 29px;
        padding-right: 20px;
    }

    .hero .quote #quote-text {
        font-size: 35px;
    }

    #author {
        font-size: 30px;
    }

    .title h2 {
        font-size: 35px;
    }

    .about-me {
        font-size: 16px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 80px;
    }

    .hero {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
        margin-bottom: 0;
    }

    .title {
        border-bottom: 5px solid black;
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
    }

    .my-work {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 30px;
        padding: 30px 0;
    }

    .my-work h2 {
        padding-top: 0;
    }

    .grid-position {
        width: 100%;
        padding: 10px;
    }

    .grid {
        width: 80%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%;
    }
    footer ul li {
        padding: 10px;
        text-align: center;
    }
}